@font-face {
  font-family: museosanscyrl-700;
  src: url(./fonts/museosanscyrl-700.ttf);
}
.App {
  padding: 0 15% 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: museosanscyrl-700;
  font-size: 2.3rem;
}

footer {
  background-color: #4c5f88;
  height: 3em;
  width: 100%;
  margin-top: 1.5em;
}

.sentimentFilters input {
  visibility: hidden;
  display: flex;
}

.sentimentFilters .filter {
  cursor: pointer;
  display: inline-block;
  padding: .75em;
  width: 4em;
  border-radius: 5px;
  border: 1px solid #f8598b;
  margin-right: 1em;
  text-align: center;
}

.sentimentFilters .filter.unselect {
  background-color: #fff;
  color: #000;
}

.sentimentFilters .filter.select {
  background-color: #f8598b;
  color: #fff;
}

.issueCount {
  font-family: museosanscyrl-700;
  margin-top: -1.2em;
}

.feedbackItem {
  display:grid;
  width: 80%;
  border-bottom: 1px solid grey;
  padding: .5em;
  grid-template-areas:
    "sentiment date"
    "feedback feedback"
    "replayLink replayLink";
  margin-bottom: 1em;
}

.feedbackItem h4 {
  grid-area: feedback;
  margin: .2em 0 .5em 0;
}

.feedbackItem .sentiment {
  grid-area: sentiment;
  width: %50;
}

.feedbackItem .date {
  grid-area: date;
  width: %50;
}

.feedbackItem .date h4 {
  margin: 0;
  text-align: right;
}

.feedbackItem .date h5 {
  margin: 0;
  text-align: right;
  color: #999;
}

.feedbackItem .replayLink {
  grid-area: replayLink;
}

.feedbackItem .replayLink a {
  text-decoration: none;
  color: #f8598b;
}

.spinner {
  height: 1em;
}

@media (max-width: 768px) {
  .App {
    padding: 0 5% 0 5%;
  }
}

@media (max-width: 731px) {
  .feedbackItem {
    width: 100%;
    display:grid;
    padding: .5em;
    grid-template-areas:
      "sentiment"
      "date"
      "feedback"
      "replayLink";
    margin-bottom: 1em;
  }
  .sentimentFilters .filter {
    width: 1rem;
    padding: 1rem 1rem 1rem .7rem;
  }
  .sentimentFilters .filter div:nth-child(2) {
    display: none;
  }
  .date {
    display: none;
  }
  .issueCount {
    margin-top: -4rem;
  }
}

