.App {
  padding: 0 15% 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  text-align: center;
}

footer {
  background-color: #973999;
  height: 3em;
  width: 100%;
  margin-top: 1.5em;
}

.sentimentFilters input {
  visibility: hidden;
  display: flex;
}

.sentimentFilters .filter {
  cursor: pointer;
  display: inline-block;
  padding: .75em;
  width: 4em;
  border-radius: 5px;
  border: 1px solid #f8598b;
  margin-right: 1em;
  text-align: center;
}

.sentimentFilters .filter.unselect {
  background-color: #fff;
  color: #000;
}

.sentimentFilters .filter.select {
  background-color: #f8598b;
  color: #fff;
}

.feedbackItem {
  display:grid;
  width: 80%;
  border-bottom: 1px solid grey;
  padding: .5em;
  grid-template-areas:
    "sentiment date"
    "feedback feedback"
    "replayLink replayLink";
  margin-bottom: 1em;
}

.feedbackItem h4 {
  grid-area: feedback;
  margin: .2em 0 .5em 0;
}

.feedbackItem .sentiment {
  grid-area: sentiment;
  width: %50;
}

.feedbackItem .date {
  grid-area: date;
  width: %50;
}

.feedbackItem .date h4 {
  margin: 0;
  text-align: right;
}

.feedbackItem .date h5 {
  margin: 0;
  text-align: right;
  color: #999;
}

.feedbackItem .replayLink {
  grid-area: replayLink;
}

.feedbackItem .replayLink a {
  text-decoration: none;
  color: #f8598b;
}
